<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>

 <h3><%= @post.title %></h3>
  <p><%= @post.content %></p>

  <%= render 'comments/show' %>
  <%= render 'comments/new' %>


  <%= link_to "Edit Post", edit_post_path %> | 
  <%= link_to "Delete Post", post_path, method: 'delete', data: {confirm: 'Are you sure?'} %>
